<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <!-- header -->
  <%= render 'sizes/header' %>

  <main>
  <div class="container">
   <!--ブリジストン -->
    <table>
      <tbody>
        <tr>
            <% @sizes.each do |size| %>
      <% if size.manufacture.tire_maker_id == '1' %>
          <td>
            <%= attachment_image_tag size.manufacture, :image, :size => "350x250" %>
            <h4>BRIDGESTONE</h4>
            <p>商品名：<%= size.manufacture.name %></p>
            <p>価格（4本）：<%= size.price %>円</p>
            <%= link_to 'この商品を詳しく見る', size_path(size), class: 'btn btn-success', :style=> "text-decoration: none; color: white;"  %>
        </td>
        <% end %>
      <% end %>
        </tr>

      </tbody>
    </table>

    <!--ダンロップ -->
    <table>
      <tbody>
        <tr>
            <% @sizes.each do |size| %>
      <% if size.manufacture.tire_maker_id == '2' %>
          <td>
            <%= attachment_image_tag size.manufacture, :image, :size => "350x250" %>
            <h4>DUNLOP</h4>
            <p>商品名：<%= size.manufacture.name %></p>
            <p>価格（4本）：<%= size.price %>円</p>
            <%= link_to 'この商品を詳しく見る', size_path(size), class: 'btn btn-success', :style=> "text-decoration: none; color: white;"  %>
        </td>
        <% end %>
      <% end %>
        </tr>

      </tbody>
    </table>

    <!--ヨコハマタイヤ -->
    <table>
      <tbody>
        <tr>
            <% @sizes.each do |size| %>
      <% if size.manufacture.tire_maker_id == '3' %>
          <td>
            <%= attachment_image_tag size.manufacture, :image, :size => "350x250" %>
            <h4>YOKOHAMA</h4>
            <p>商品名：<%= size.manufacture.name %></p>
            <p>価格（4本）：<%= size.price %>円</p>
            <%= link_to 'この商品を詳しく見る', size_path(size), class: 'btn btn-success', :style=> "text-decoration: none; color: white;"  %>
        </td>
        <% end %>
      <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  </main>

  <!-- footer -->
  <%= render 'sizes/footer' %>

</body>
</html>



